#live-trades {
  background-color: green;
}

#upcoming-trades {
  background-color: orange;
}

#past-trades {
  /*background: grey radial-gradient(farthest-corner, grey 40%, red 100%);*/
  background-color: grey;
}

#mainAppRow {
  display: flex;
}
